.grid-tourism-wrapper {
  /* border: 2px solid red; */
  display: grid;
  grid-template-columns: 50%;
  grid-template-rows: 15% 85%;
  /* border: 2px solid green; */
  /* width: 100%; */
  justify-content: center;
}

.grid-tourism-heading {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 1rem;
  /* border: 2px solid yellow; */
  font-size: 1rem;
  color: purple;
}

.grid-tourism-content {
  display: grid;
  padding: 1rem;
  /* border: 2px solid yellow; */
  grid-template-columns: 100%;
  grid-row: 10% 40% 10% 40%;
}

.grid-tourism-content-subheading-1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  background-color: purple;
  width: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-row: 1/2;
}

.grid-tourism-content-para-1 {
  display: flex;
  font-size: 1.2rem;
  grid-row: 2/3;
}

.grid-tourism-content-subheading-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  background-color: purple;
  width: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;
  padding-top: 0px;
  padding-bottom: 0px;
  grid-row: 3/4;
}

.grid-tourism-content-para-2 {
  display: flex;
  font-size: 1.2rem;
  grid-row: 4/5;
}

@media (max-width: 1000px) {
  .grid-tourism-wrapper {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    /* border: 2px solid green; */
    /* width: 100%; */
    justify-content: center;
    text-align: center;
  }

  .grid-tourism-heading {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 1rem;
    /* border: 2px solid yellow; */
    font-size: 1rem;
    color: purple;
  }

  .grid-tourism-content {
    display: grid;
    padding: 1rem;
    /* border: 2px solid yellow; */
    grid-template-columns: 100%;
    grid-row: 10% 90%;
  }

  .grid-tourism-content-subheading-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    background-color: purple;
    width: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    grid-row: 1/2;
  }

  .grid-tourism-content-para-1 {
    display: flex;
    font-size: 1.2rem;
    grid-row: 2/3;
  }
  .grid-tourism-content-subheading-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    background-color: purple;
    width: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;
    padding-top: 0px;
    padding-bottom: 0px;
    grid-row: 3/4;
  }

  .grid-tourism-content-para-2 {
    display: flex;
    font-size: 1.2rem;
    grid-row: 4/5;
  }
}
